# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
pubspec.lock

# Files and directories created by dart_frog
build/
.dart_frog
public

# Test related files
coverage/

# Custom ignored
.idea/
.idea/libraries/Dart_Packages.xml

# Dart files
**.freezed.dart
**.g.dart

# Open api json file
public/openapi.json